#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
}

#about-title {
  width: 100%;
}

.about-text {
  margin: 0;
  margin-bottom: 1rem;
  width: calc(100% - 16px);

  font-size: var(--about_text);
  line-height: 1.5;
  color: var(--secondary_color);
}
