#nav-burguer {
  display: none;
}

#nav-section {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 32px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 2rem;
  margin: 4px 0px;
  padding-right: 16px;
}

.nav-square,
.nav-square:before,
.nav-square:after {
  width: 18px;
  height: 18px;
}

.nav-square:before,
.nav-square:after {
  content: "";
}

.nav-tip {
  top: -4px;
  right: 34px;
}

@media (max-width: 768px) {
  #nav-section {
    position: absolute;
    display: flex;
    z-index: -1;
    top: 64px;
    right: max(8px, calc(50vw - 8px - var(--content_width) / 2));
    height: fit-content;
    width: 7.63rem;
    gap: 4px;
    background-color: var(--back_color);
    border-radius: 0px 0px 3px 3px;

    border-right: 1px solid var(--back_secondary_color);
    border-left: 1px solid var(--back_secondary_color);
    border-bottom: 1px solid var(--back_secondary_color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    visibility: hidden;
    opacity: 0;
    transform-origin: calc(7.63rem - 12px) -32px;
    transform: scale(0);
    transition: opacity 0.6s 0.15s, visibility 0.6s 0.15s, transform 0.3s;
  }
  #nav-burguer:has(#check-burguer:checked) + #nav-section {
    visibility: visible;
    opacity: 1;
    scale: 1;
    transform-origin: calc(7.63rem - 12px) -32px;
    transform: scale(1);

    transition: opacity 0.6s 0.15s, transform 0.3s;
  }
  .nav-link {
    padding-right: 8px;
  }

  .nav-tip {
    top: -4px;
    right: 26px;
    background-color: transparent !important;
    color: var(--secondary_color) !important;
    visibility: visible !important;
    opacity: 1 !important;
    transition: color 0.2s !important;
  }

  .nav-link:hover .nav-tip {
    color: var(--main_color) !important;
    transition: color 0.2s !important;
  }

  #nav-burguer {
    display: block;
    position: absolute;
    top: 1px;
    right: max(8px, calc(50vw - 8px - var(--content_width) / 2));
    height: 64px;
    width: 25px;
    cursor: pointer;
    border-left: 1px solid;
    border-image: linear-gradient(
        to top,
        transparent 0 33%,
        rgba(255, 255, 255, 0.5) 33% 67%,
        transparent 67% 100%
      )
      1;
  }

  .burguer-tip {
    content: "Close";
    top: 53px;
    left: calc(50% - 4px);
    transform: translateX(-50%);
  }

  #check-burguer {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
}

/* Estado inicial*/
@media (max-width: 768px) {
  .burguer-square-box {
    z-index: -1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 8px;

    top: 15px;
    right: 0;
    gap: 5px;
  }

  .burguer-square {
    width: 8px;
    height: 8px;
    margin: 0px;
    background: var(--secondary_color);
    border-radius: 2px;
  }
}
/*Hover animation*/
@media (max-width: 768px) {
  @keyframes first {
    from {
      transform: translateY(10px);
    }
    to {
      transform: translateY(0px);
    }
  }
  @keyframes last {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(0px);
    }
  }
  #check-burguer:not(:hover) + .burguer-square-box .burguer-square:first-child {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.05s 0.09s;
    animation: first 0.18s cubic-bezier(0.14, 0.68, 0.51, 0.94) 0.1s;
  }
  #check-burguer:not(:hover) + .burguer-square-box .burguer-square:last-child {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.05s 0.09s;
    animation: last 0.18s cubic-bezier(0.14, 0.68, 0.51, 0.94) 0.1s;
  }
  #check-burguer:not(:hover)
    + .burguer-square-box
    .burguer-square:nth-child(2) {
    animation: debunce2 0.2s cubic-bezier(0.14, 0.68, 0.51, 0.94);
  }
  @keyframes debunce2 {
    0%,
    100% {
      scale: 1;
    }
    40%,
    60% {
      scale: 0.7;
    }
  }
  @keyframes debunce {
    0%,
    100% {
      scale: 1;
    }
    40%,
    60% {
      scale: 0.7;
    }
  }

  #check-burguer:hover + .burguer-square-box .burguer-square:first-child {
    visibility: hidden;
    opacity: 0;
    translate: 0px 10px;
    transition: translate 0.18s cubic-bezier(0.14, 0.68, 0.51, 0.94),
      opacity 0.3s, visibility 0.1s 0.2s;
  }

  #check-burguer:hover + .burguer-square-box .burguer-square:nth-child(2) {
    animation: debunce 0.2s cubic-bezier(0.14, 0.68, 0.51, 0.94) 0.1s;
  }

  #check-burguer:hover + .burguer-square-box .burguer-square:last-child {
    visibility: hidden;
    opacity: 0;
    translate: 0px -10px;
    transition: translate 0.18s cubic-bezier(0.14, 0.68, 0.51, 0.94),
      opacity 0.3s, visibility 0.1s 0.2s;
  }
}
/*Checked animation*/
@media (max-width: 768px) {
  @keyframes checkout {
    from {
      translate: 200px;
    }
    to {
      translate: 200px;
    }
  }
  @keyframes hidetip {
    from {
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }
  #check-burguer:checked {
    animation: checkout 0.4s step-start 0.1s;
  }
  .burguer-tip:has(+ #check-burguer:checked) {
    content: "Open";
    animation: hidetip 0.5s step-start;
  }
  #nav-burguer:has(#check-burguer:checked) .burguer-square-box {
    top: 64px;
    right: 0;
    gap: 4px;
    transition: width 0.15s, height 0.15s, top 0.15s;
  }
  #nav-burguer:has(#check-burguer:checked) .burguer-square {
    width: 18px;
    height: 18px;
    margin: calc(1rem - 9px + 4px) 0px;
    border-radius: 3px;
    transition: width 0.6s 0.1s, height 0.6s 0.1s, margin 0.15s 0.1s;
  }
}
/* Estado final
@media (max-width: 768px) {
  .burguer-square-box {
    z-index: -1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 8px;

    top: 64px;
    right: 0;
    gap: 4px;
  }

  .burguer-square {
    width: 18px;
    height: 18px;
    margin: calc(1rem - 9px + 4px) 0px;
    border-radius: 3px;
    background: brown;
  }
}
  square sobre check -> hover si
  si square not there -> hover no
*/
