#nav-section {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  gap: 32px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 2rem;
  margin: 4px 0px;
  padding-right: 16px;
}

.nav-square,
.nav-square:before,
.nav-square:after {
  width: 18px;
  height: 18px;
}

.nav-square:before,
.nav-square:after {
  content: "";
}

.nav-tip {
  top: -4px;
  right: 34px;
}
