#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
}
/*
@media (max-width: 768px) {

  .burguer-square-box {
  z-index: -1;
  position: absolute;
  top: 64px;
  right: max(8px, calc(50vw - 8px - var(--content_width) / 2));

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.burguer-square {
  width: 18px;
  height: 18px;
  margin: 4px 0px;
  padding: calc(1rem - 9px) 0px;
  padding-right: 8px;
}
}

@media (max-width: 768px) {
  
  .burguer-square-box {
    position: absolute;
    top: 15px;
    right: 8px;
    display: flex;
    flex-direction: column;
    height: 34px;
    justify-content: space-between;
  }

  .burguer-square {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 1px;
    background: rgb(133, 65, 65);
  }

  #nav-burguer:hover .burguer-square-box {
    justify-content: center;
  }

  #nav-burguer:hover .burguer-square {
    height: 2.6px;
    border-radius: 0;
    transition: height 0.3s;
  }

  #nav-burguer:hover .burguer-square:first-child {
    border-radius: 1px 1px 0px 0px;
  }
  #nav-burguer:hover .burguer-square:last-child {
    border-radius: 0px 0px 1px 1px;
  }

  #nav-burguer:has(#check-burguer:not(:checked)) .burguer-square-box {
    top: 64px;
    height: 127px;
  }

  #nav-burguer:has(#check-burguer:not(:checked)) .burguer-square {
    margin: 11px 0px 11px 0px;
    width: 16px;
    height: 16px;
  }
}

*/
