#cv-button {
  border-radius: 3px;

  background: transparent;
  color: var(--main_color);
  border: 2px solid var(--main_color);

  transition: background 0.3s, color 0.3s, border 0.3s;
}

#download-logo {
  fill: var(--main_color);
  transition: fill 0.3s;
}

#cv-button:hover {
  background: var(--main_color);
  color: var(--secondary_color);
  border: 2px solid var(--main_color);
}

#cv-button:active {
  background: var(--secondary_color);
  color: var(--main_color);
  border: 2px solid var(--secondary_color);
}

#cv-button:hover #download-logo {
  fill: var(--secondary_color);
}

#cv-button:active #download-logo {
  fill: var(--main_color);
}
