#hello-title {
  display: flex;
}

#full-name,
#full-name:before,
#full-name:after {
  width: calc(var(--content_width) / 100 * 65.35 - 4);
  padding: 0px calc(var(--content_width) / 100 * 1.18);
  margin: 0;
  margin-right: 8px;
  border-radius: 3px;

  font-size: calc(var(--content_width) / 100 * 18.11);
  line-height: calc(var(--content_width) / 100 * 18.11);
  font-weight: 500;
  white-space: wrap;
  text-align: right;
  text-shadow: -1px 1px 0 var(--back_secondary_color),
    1px 1px 0 var(--back_secondary_color),
    1px -1px 0 var(--back_secondary_color),
    -1px -1px 0 var(--back_secondary_color);
}

#profession,
#profession:before,
#profession:after {
  width: calc(var(--content_width) / 100 * 34.65 - 4);
  padding: calc(var(--content_width) / 100 * 1.18);
  margin: 0;
  border-radius: 3px;

  font-size: calc(var(--content_width) / 100 * 11.285);
  line-height: calc(var(--content_width) / 100 * 11.285);
  font-weight: 500;
  white-space: wrap;
  text-shadow: -1px 1px 0 var(--back_secondary_color),
    1px 1px 0 var(--back_secondary_color),
    1px -1px 0 var(--back_secondary_color),
    -1px -1px 0 var(--back_secondary_color);
}

#full-name:before,
#full-name:after,
#profession:before,
#profession:after {
  content: attr(data-attr);
}

@media (max-width: 768px) {
  #full-name,
  #full-name:after,
  #full-name:before {
    width: var(--content_width);
    padding: 0px calc(var(--content_width) / 100 * 1.83);
    margin: 0;
    margin-bottom: 8px;

    font-size: calc(var(--content_width) / 100 * 28.05);
    line-height: calc(var(--content_width) / 100 * 28.05);
    text-align: center;
  }

  #profession,
  #profession:before,
  #profession:after {
    width: var(--content_width);
    padding: calc(var(--content_width) / 100 * 1.83);

    font-size: calc(var(--content_width) / 100 * 13.57);
    line-height: calc(var(--content_width) / 100 * 13.57);
    text-align: center;
  }
}
