.info-button {
  z-index: 2;
  position: absolute;
  left: calc(50% - 20px);
}

.info-button-tooltip {
  top: 40px;
  left: calc(50% - 4px);
  transform: translateX(-50%);
}

.arrow-icon {
  --easing: cubic-bezier(0.25, 1.7, 0.35, 0.8);
  --duration: 0.3s 0.45s;
  --base_size: 40px;

  display: flex;
  align-items: center;
  height: var(--base_size);
  width: var(--base_size);
}

.left-bar,
.right-bar {
  position: relative;
  display: block;
  width: calc(0.5 * var(--base_size));
  height: calc(0.1 * var(--base_size));

  background-color: transparent;
  border-radius: calc(0.025 * var(--base_size));
}

.left-bar {
  left: calc(0.085 * var(--base_size));
  transform: rotate(35deg);
}

.right-bar {
  right: calc(0.085 * var(--base_size));
  transform: rotate(-35deg);
}

.left-bar:after {
  border-radius: calc(0.05 * var(--base_size)) calc(0.1 * var(--base_size))
    calc(0.1 * var(--base_size)) calc(0.05 * var(--base_size));
}

.right-bar:after {
  border-radius: calc(0.1 * var(--base_size)) calc(0.05 * var(--base_size))
    calc(0.05 * var(--base_size)) calc(0.1 * var(--base_size));
}

.left-bar:after,
.right-bar:after {
  content: "";

  display: block;
  width: calc(0.5 * var(--base_size));
  height: calc(0.1 * var(--base_size));

  background: var(--main_color);

  transition: all var(--duration) var(--easing);
}

.project-info-expose + .project-img + .info-button .left-bar:after {
  transform-origin: center center;
  transform: rotate(-70deg);
  transition-delay: 0.75s;
}

.project-info-expose + .project-img + .info-button .right-bar:after {
  transform-origin: center center;
  transform: rotate(70deg);
  transition-delay: 0.75s;
}
