.nav-link {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-tip {
  top: 0;
  right: 34px;
}

.nav-square-box {
  height: 2rem;
  margin: 4px 0px;
  padding-right: 16px;
}

.nav-square,
.nav-square:before,
.nav-square:after {
  width: 18px;
  height: 18px;
}

.nav-square:before,
.nav-square:after {
  content: "";
}

/*

@media (max-width: 768px) {
}
*/
