#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
}

#about-title {
  width: 100%;
  margin: 0;
  margin-bottom: 80px;
  padding: 4px 0px 8px 0px;

  font-size: clamp(2.9rem, 6vw, 3.95rem); /*clamp(2.1rem, 6vw, 3.8rem);*/
  line-height: 1;
  text-align: center;

  background: var(--main_color);
}

/*

  display: flex;
  margin: 0;
  font-size: clamp(2.9rem, 6vw, 3.95rem);
}

.about-title-space {
  flex-grow: 1;
  min-width: 0;
}

#about-title-text {
  display: flex;
  gap: 8px;
}

#about-title-text-right {
  padding: 0 8px;
  background: var(--text_color);
  color: var(--main_color);
}

#about-title-text-left {
  padding: 0 8px;
  background: var(--main_color);
}

*/
#about-text {
  margin: 0;
  margin-bottom: 80px;
  font-size: clamp(1rem, 1.3vw, 1.3rem);
  line-height: 1.5;
}
