#about p {
  width: max(75vw, 344px);
  margin: 0 auto;
  border-radius: 16px;
  border: 3px solid #fafafa10;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 24px;
  background: #ffffff07;
  font-size: 1.2em;
}
