main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  width: var(--content_width);
  margin: 0 auto;
  padding-bottom: 128px;
  padding-top: 128px;
  border-bottom: 2px solid var(--back_secondary_color);
}

section h2 {
  margin: 0;
  margin-bottom: 80px;
  border-radius: 3px;

  font-size: var(--section_title); /*44.5px  61px clamp(2.1rem, 6vw, 3.8rem);*/
  line-height: 1.4;
  text-align: center;
  font-weight: 400;

  background: var(--main_color);
  color: var(--secondary_color);
}
