main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  width: max(70%, 328px);
  margin: 0 auto;
  padding-bottom: 128px;
  padding-top: 128px;
  border-bottom: 2px solid var(--back_secondary_color);
}

section h2 {
  margin: 0;
  margin-bottom: 80px;
  border-radius: 3px;

  font-size: clamp(2.9rem, 6vw, 3.95rem); /*clamp(2.1rem, 6vw, 3.8rem);*/
  line-height: 1.3;
  text-align: center;
  font-weight: 400;

  background: var(--main_color);
  color: var(--secondary_color);
}
