@keyframes clipping {
  0%,
  100% {
    top: 0px;
    height: clamp(
      calc(344px * 3 / 8 + 72px),
      calc(35vw * 3 / 8 - 9px + 72px),
      calc(500px * 3 / 8 + 72px)
    );
  }
  30%,
  70% {
    top: 0px;
    height: 64px;
    color: transparent;
  }
  50% {
    top: -12px;
    height: 64px;
  }
}

.project-info:active,
.project-info:has(+ .project-img-container:active),
article:has(.more-info:active) .project-info {
  animation: none;
}

.project-info {
  position: absolute;
  background: rgba(35, 37, 47, 0.3);
  height: clamp(
    calc(344px * 3 / 8 + 72px),
    calc(35vw * 3 / 8 - 9px + 72px),
    calc(500px * 3 / 8 + 72px)
  );
  border-radius: 16px 16px 0px 0px;
  animation: clipping 0.6s;
}

.info-hide {
  z-index: 0;
  transition: z-index 0.1s 0.3s;
}

.info-expose {
  z-index: 2;
  transition: z-index 0.1s 0.3s;
}

.project-head {
  display: flex;
  justify-content: space-between;
  height: 72px;
  border-bottom: 3px solid #d8415a;
}

.project-title {
  margin: auto 0;
  font-size: 1.7rem;
  padding-left: 16px;
  color: white !important;
}

#action-menu {
  display: flex;
  width: fit-content;
  margin-right: 16px;
}

#action-link-list {
  display: flex;
  gap: 16px;
}

#action-link-list li {
  display: flex;
  align-items: center;
}

.action-link {
  display: inline-flex;
  height: 30px;
  width: 30px;
}

.action-link:hover svg {
  fill: #d8415a;
  transition: fill 0.5s;
}

.project-text {
  padding: 16px;
  margin: 0;
}

.project-img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: auto;
}

.info-expose + .project-img {
  margin-top: clamp(
    calc(344px * 3 / 8 + 72px),
    calc(35vw * 3 / 8 - 9px + 72px),
    calc(500px * 3 / 8 + 72px)
  );
  transition: 0.18s 0.42s;
}

.info-hide + .project-img {
  margin-top: 72px;
  transition: 0.18s;
}
