header {
  z-index: 5;
  position: sticky;
  display: flex;
  left: 0;
  top: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: max(70%, 328px);

  color: var(--text_color);
}

.header-colorless {
  height: 128px;

  background: transparent;
  box-shadow: none;

  transition: height 0.5s, background 0.5s, box-shadow 0.5s;
}

.header-colorful {
  height: 64px;

  background: var(--back_color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  transition: height 0.5s, background 0.5s, box-shadow 0.5s;
}

#logofic {
  width: 64px;
  height: 64px;
  background: var(--text_color);
}
