header {
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  justify-content: space-around;
  align-items: center;
  transition: 0.7s;
}

.head-without-color {
  position: absolute;
  background-color: none;
  height: 50vh;
}

.head-with-color {
  position: fixed;
  background-color: #00122e;
  height: 64px;
}
