.expand-hello {
  display: flex;
  height: 375px;
  transition: 0.7s;
}

.contract-hello {
  height: 164px;
  transition: 0.5s;
}

.contract-hello #hello-text {
  display: none;
  transition: 0.5s;
}

#hello h2 {
  display: none;
}

#hello-text {
  font-size: 1.3em;
  padding: 8px;
  align-self: center;
  z-index: 4;
}
