.hello {
  display: flex;
  height: 50vh;
  justify-content: center;
  scrollbar-gutter: unset;
  align-items: center;
  transition: 0.7s;
}

.hello2 {
  display: flex;
  justify-content: center;
  scrollbar-gutter: unset;
  background-color: blueviolet;
  height: 164px;
  align-items: flex-end;
  transition: 0.7s;
}

.hello2 #hello-text-box {
  display: none;
}

#hello-text-box {
  width: 80%;
  min-width: 360px;
  height: 22vh;
}

#hello-text {
  font-size: 20px;
  padding: 8px;
  margin: 15px 0px;
  color: #00122e;
}
