html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: 360px;
  margin: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(25, 27, 34); /* #100c1dff;  rgba(17, 23, 61);*/
}

#root {
  width: 100%;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}
