nav {
  display: flex;
  width: fit-content;
  align-self: flex-end;
}

#nav-link-list {
  display: flex;
  align-self: flex-end;
  height: 64px;
  gap: 8px;
}

.nav-link {
  display: inline-block;
  width: fit-content;
  padding: 0px 10px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #00122e;
  color: #fffaf2;
}

#nav-link-list a {
  display: inline-flex;
  align-items: center;
  height: 64px;
}
