.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.project-item {
  width: var(--project_width);
  height: calc(var(--project_width) * 3 / 4 + 72px);

  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

/*--------------------------------------------

#project-title {
  display: flex;
  margin: 0;
  margin-bottom: 64px;
  font-size: clamp(2.9rem, 6vw, 3.95rem);
}

.project-title-space {
  flex-grow: 1;
  min-width: 0;
}

#project-title-text {
  display: flex;
  gap: 8px;
}

#project-title-text-right {
  padding: 0 8px;
  background: var(--text_color);
  color: var(--main_color);
}

#project-title-text-left {
  padding: 0 8px;
  background: var(--main_color);
}

#project-text {
  margin: 48px 0;
  font-size: clamp(1rem, 1.3vw, 1.3rem);
  line-height: 1.5;
}
*/
