.project-info {
  position: absolute;
  width: 100%;
  height: calc(var(--project_width) * 3 / 8 + var(--project_title_height))
    /*72px*/;

  background: var(--secondary_color);

  animation: rolling 0.6s;
}

article:has(.info-button:active) .project-info {
  animation: none;
}

.project-title {
  height: var(--project_title_height) /*72px*/;
  margin: auto 0;
  padding-top: 8px;

  line-height: calc(var(--project_title_height) - 10px) /*70px*/;
  font-size: var(--project_title);
  font-weight: 400;
  text-align: center;

  color: var(--main_color) !important;
  border-bottom: 2px solid var(--main_color);
}

.project-text {
  margin: 0;
  padding: 16px;

  font-size: var(--project_text);
  line-height: 1.5;

  color: var(--back_secondary_color);
}

.project-img {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: auto;
}

.project-info-hide {
  z-index: 0;
  transition: z-index 0.1s 0.3s;
}

.project-info-hide + .project-img,
.project-info-hide + .project-img + .info-button {
  margin-top: var(--project_title_height) /*72px*/;
  transition: margin 0.18s;
}

.project-info-expose {
  z-index: 2;
  transition: z-index 0.1s 0.3s;
}

.project-info-expose + .project-img,
.project-info-expose + .project-img + .info-button {
  margin-top: calc(var(--project_width) * 3 / 8 + var(--project_title_height))
    /*72px*/;
  transition: margin 0.18s 0.42s;
}

/*
.project-grid:has(.project-item:hover) .project-item:not(:hover) {
  filter: grayscale(80%) brightness(50%) opacity(40%);
  transform: scale(0.95);
  transition: filter 0.3s ease-out, transform 0.3s ease-out;
}

.project-grid:not(:has(.project-item:hover)) .project-item:not(:hover) {
  filter: grayscale(0%) brightness(100%) opacity(100%);
  transform: scale(1);
  transition: filter 0.3s ease-out, transform 0.3s ease-out;
}*/
