#skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.skill {
  height: 120px;
  width: 120px;
  background: var(--text_color);
}

.skill-alter {
  background: var(--main_color);
}
