#social-menu {
  display: flex;
  width: fit-content;
  gap: 24px;
}

.social-link {
  display: flex;
}

.social-logo {
  width: 32px;
  height: 32px;
  margin: auto 0px;

  fill: var(--text_color);

  transition: fill 0.5s;
}

.social-logo:hover {
  fill: var(--main_color);
  transition: fill 0.5s;
}
