:root {
  /*------------Colors--------------*/

  --main_color: #d8415a;
  --text_color: hsl(350, 66%, 97%);
  --text_reverse_color: #191b22;
  --back_strong_color: #191b22;
  --back_color: #23252f;

  /*------------Sizes--------------*/
}
/*

   #FFFDED;
  #EDF2F4
*/
