@keyframes rolling {
  0%,
  100% {
    top: 0px;
    height: calc(var(--project_width) * 3 / 8 + var(--project_title_height));
  }
  30%,
  70% {
    top: 0px;
    height: var(--project_title_height);
    color: transparent;
  }
  50% {
    top: calc(var(--project_title_height) / (-6));
    height: var(--project_title_height);
    color: transparent;
  }
}
